.pre{
   word-break: break-all;
}

.err{
  color: red;  
  margin: -19px 0 23px 27px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 10px 15px;
  }

.cityList{
  margin: 10% auto 0 auto;
  padding: 20px;
  max-width: 80%; 
  
  border: 1px solid #aaa;
  border-radius: 10px;
  box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1)
}

.cityList_header {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.cityPage {
  margin: 10% auto 0 auto;
  padding: 20px;
  max-width: 30%;

  border: 1px solid #aaa;
  border-radius: 10px;
  box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.1)
}

.drop {
  margin: 5px 0 0 0;
}

.rait {
  margin: 10px 0 0 0;
}

.btn1 {
  margin: 0 0 15px 0;
}

.here {
  box-shadow: 0px 0px 6px orange;;
}